<style>
  code.block{
    width: 870px;
    display: block;
  }
</style>

<script>

JSON.prettify = function(json) {
  return JSON.stringify(json, null, '\t');
}
function log(msg) {
  if (console && console.log) {
    console.log(msg)
  }
}


$(function(){
  var AppRouter = Backbone.Router.extend({
    routes: {
      'search/spotify/:method/:query': "searchSpotify"
    },

    searchSpotify: function(method,query){

        console.log( method );
        $('#query').val(query);
        $('#method').val(method);

      var method = "track";
      log('Searching for ' + method + ' called ' + query);
      $.spotifydata(method, query, function(data) {
        $('#search-results').show().find('pre').text(JSON.prettify(data));
      })

    }
  });

  var AppView = Backbone.View.extend({
    el: $('#view-search'),

    events: {
      'submit #search': 'searchSubmit'
    },

    initialize: function(){
    },

    searchSubmit: function(e){
      e.preventDefault();
      console.log('searchSubmit');
      Router.navigate('search/spotify/'+$('#method').val()+'/'+$('#query').val(),{trigger: true});
    }
  });

  var App = new AppView();
  var Router = new AppRouter();
  Backbone.history.start({pushState: true, root: '/pages/about/'});
});


</script>
<div id="view-search">
  <h2>We like to be inspired by music. </h2>
  <h3>Start with a search for <b>music</b> that inspires you.</h3>

  <form class="well form-search" id="search" method="get">
    <label for="method">Method</label>
    <select name="method" id="method">
      <option value="track">Track</option>
      <option value="album">Album</option>
      <option value="artist">Artist</option>
    </select>
    <label for="query">Query</label>
    <input type="text" name="query" placeholder="Shout" id="query" class="input-medium search-query" >
    <input type="submit" name="search" value="Search" id="search" class="btn">
  </form>


  <code class="block" id="search-results"><pre></pre></code>
</div>
